{% extends "layouts/admin_simple.html.twig" %}

{% block admin_content %}


	<div class="row">
		<div class="col-md-5 mx-auto">
			<main class="auth">
				<!-- form -->
				{# <form class="auth-form"> #}
				{{ form_start(emailForm) }}
					<div class="mb-4"> <a href="{{ path('home') }}">
						<div class="mb-3">
							<img class="rounded" src="{{ asset('assets/images/Logo_IUT_Metz.Info_UL.small.png') }}" alt="" height="72">
						</div>
					</a>
					<h5 class="h5 mt-4">
						Mot de passe oublié
					</h5>
					<div class="legend">
						<p>Vous allez recevoir un lien de réinitialisation de votre mot de passe par email</p>
					</div>
				</div>
				<!-- <p class="text-left mb-4"> Don't have a account? <a href="auth-signup.html">Create One</a> </p> -->
				<!-- .form-group -->
				{% include 'layouts/flash-messages.html.twig' %}

				<div class="form-group mb-4">
					{# <label class="d-block text-left" for="inputUser">Adresse mail</label>
					<input type="text" id="inputUser" class="form-control form-control-lg" required=""> #}
					<label class="d-block text-left" for="reset_password_email">Identifiant ou adresse e-mail</label>
					<input type="text" name="reset_password[email]" id="reset_password_email" class="form-control form-control-lg" required="" autofocus="">
					{% do emailForm.email.setRendered %}
				</div>
				<!-- /.form-group -->
				<!-- .form-group -->
				<div class="form-group mb-4">
					<button class="btn btn-lg btn-primary btn-block" type="submit">Envoyer le lien</button>
				</div>
				<!-- /.form-group -->
				<p class="text-center text-muted">
					<a href="{{ path('app_login') }}">Revenir à la connexion</a>
				</p>
				<!-- copyright -->
				<p class="mb-0 px-3 text-muted text-center">
					© 2021 All Rights Reserved.
				</p>
				{# </form> #}
				{{ form_end( emailForm ) }}
				<!-- /.auth-form -->
			</main>
			<!-- /.auth -->
		</div>
	</div>


{% endblock %}
