{% extends "layouts/admin_simple.html.twig" %}

{% block admin_content %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<main
				class="auth">
				<!-- form -->
				<form class="auth-form auth-form-reflow" method="post">
					<div class="text-center mb-4">
						<a href="{{ path('home') }}">
							<div
								class="mb-4">
								{# <img class="rounded" src="assets/apple-touch-icon.png" alt="" height="72"> #}
								<img class="rounded" src="{{ asset('assets/images/Logo_IUT_Metz.Info_UL.small.png') }}" alt="" height="72">
							</div>
						</a>

						<h3 class="h4">
							Réinitialisation du mot de passe
						</h3>
					</div>
					{# <p class="mb-4">
					                <p> <strong>{{ user.nom }} {{ user.prenom }}</strong> </p>
								</p> #}
					<div class="form-group mb-3">
						<label for="email">
							Nom et prénom
						</label>
						<input type="email" id="email" value="{{ user.nom }} {{ user.prenom }}" disabled class="form-control">
					</div>
					<div class="form-group mb-3">
						<label for="email">
							Email
						</label>
						<input type="email" id="email" value="{{ user.email }}" disabled class="form-control">
					</div>
					<!-- .form-group -->
					<div class="form-group mb-4">
						{% include 'layouts/flash-messages.html.twig' %}
						<label class="d-block text-left" for="inputUser">Nouveau mot de passe</label>
						<input type="password" name="password" id="inputUser" class="form-control form-control-lg" required="">
						<input type="hidden" name="token" value="{{ token }}">
						<p
							class="text-muted">{# <small>Veuillez saisir votre nouveau mot de passe.</small> #}
						</p>
					</div>
					<!-- /.form-group -->
					<!-- actions -->
					<div class="d-block d-md-inline-block mb-2">
						<button class="btn btn-block btn-primary" type="submit">Changer mon mot de passe</button>
					</div>
					<div class="d-block d-md-inline-block">
						<a href="{{ path('app_login') }}" class="btn btn-block btn-light">Annuler</a>
					</div>
				</form>
				<!-- /.auth-form -->
				<footer class="auth-footer mt-5">
					© 2021 Tous les droits sont réservés.
				</footer>
			</main>
		</div>
	</div>
{% endblock %}
