{% extends "layouts/site_simple.html.twig" %}

{% block site_content %}

<div class="form-container outer">
		<div class="form-form">
			<div class="form-form-wrap">
				<div class="form-container">
					<div class="form-content">

						<a href=" {{ path('home_site') }} ">
							<img src=" {{ asset('assets/img/my_space_logo.png') }} " width="70" alt="">
						</a>
						<p class="mb-0">Ravis de te (re)voir {{ user.nom }} {{ user.prenom }} !!!</p>

						<form class="text-left" method="post">
							<div class="form">
								
								{% include 'layouts/flash-messages.html.twig' %}
								

								<div id="password-field" class="field-wrapper input">
									<div class="d-flex justify-content-between">
										<label for="password">NOUVEAU MOT DE PASSE</label>
									</div>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock">
										<rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
										<path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
									</svg>
									<input id="password" name="password" type="password" class="form-control" placeholder="Nouveau mot de passe" required>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" id="toggle-password" class="feather feather-eye">
										<path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
										<circle cx="12" cy="12" r="3"></circle>
									</svg>
								</div>
								
								<input type="hidden" name="token" value="{{ token }}">
								
								<div class="d-sm-flex justify-content-between">
									<div class="field-wrapper">
										<button type="submit" class="btn btn-primary" value=""> Modifier mon mot de passe </button>
									</div>
								</div>

								<p class="signup-link">Pas encore de compte ?
									<a href=" {{ path('app_register') }} ">Créer un compte</a>
								</p>

							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
