<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    
    <!--====== Title ======-->
    <title>My space</title>
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="{{ asset('assets2/images/favicon.png') }}" type="image/png">
        
    <!--====== Animate CSS ======-->
    <link rel="stylesheet" href="{{ asset('assets2/css/animate.css') }}">
        
    <!--====== lineicons CSS ======-->
    <link rel="stylesheet" href="{{ asset('assets2/css/lineicons.css') }}">
        
    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="{{ asset('assets2/css/bootstrap.min.css') }}">
    
    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="{{ asset('assets2/css/default.css') }}">
    
    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="{{ asset('assets2/css/style.css') }}">
    
</head>

<body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
    
    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PRELOADER PART ENDS ======-->
    
    <!--====== HEADER PART START ======-->

    <header class="header-area">
        <div class="navbar-area" {{ app.request.get('_route') == 'home' ? 'style="position: absolute;"' }}
         >
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="{{ path('home') }}">
                                {# <img src="{{ asset('assets2/images/logo.png') }}" alt="Logo"> #}
                                My Space
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="page-scroll" href="#home">Accueil</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="{{ path('inspiration') }}">Univers story</a>
                                    </li>
                                    {# <li class="nav-item">
                                        <a class="page-scroll" href="#features">Nouveautés</a>
                                    </li> #}
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#download">Mon compte</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll text-danger" href="#download">Se déconnecter</a>
                                    </li>
                                </ul>
                            </div> <!-- navbar collapse -->
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navbar area -->

        {% block header_home %}{% endblock %}
    </header>

    <!--====== HEADER PART ENDS ======-->
    
    {% block admin_content %}{% endblock %}
    
    <!--====== PART START ======-->
    
    <footer id="footer" class="footer-area">
        
        <div class="footer-shape shape-1"></div>
        <div class="footer-shape shape-2"></div>
        <div class="footer-shape shape-3"></div>
        <div class="footer-shape shape-4"></div>
        <div class="footer-shape shape-5"></div>
        <div class="footer-shape shape-6"></div>
        <div class="footer-shape shape-7"></div>
        <div class="footer-shape shape-8">
            <img class="svg" src="assets/images/footer-shape.svg" alt="Shape">
        </div>
        
        <div class="footer-widget pt-30 pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-about mt-50 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.2s">
                            <a class="logo" href="{{ path('home') }}" >
                                {# <img src="assets/images/logo.png" alt="Logo"> #}
                                My Space
                            </a>
                            <p class="text">Lorem ipsum dolor sit amet consetetur sadipscing elitr, sederfs diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                            <ul class="social">
                                <li><a href="#"><i class="lni lni-facebook"></i></a></li>
                                <li><a href="#"><i class="lni lni-twitter"></i></a></li>
                                <li><a href="#"><i class="lni lni-instagram"></i></a></li>
                                <li><a href="#"><i class="lni lni-linkedin"></i></a></li>
                            </ul>
                        </div> <!-- footer about -->
                    </div> 
                    <div class="col-lg-5 col-md-6">
                        <div class="footer-link d-flex flex-wrap">
                            <div class="footer-link-wrapper mt-45 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.4s">
                                <div class="footer-title">
                                    <h4 class="title"></h4>
                                </div>
                                <ul class="link">
                                    <li><a class="" href=" {{ path('home') }} ">Accueil</a></li>
                                    <li><a class="" href=" {{ path('inspiration') }} ">Espace stories</a></li>
                                    <li><a class="" href="#">Forum</a></li>
                                    {# <li><a class="" href="#">Pricing</a></li> #}
                                    <li><a class="" href="#">Contact</a></li>
                                </ul>
                            </div> <!-- footer link wrapper -->
                            
                            <div class="footer-link-wrapper mt-45 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.6s">
                                <div class="footer-title">
                                    <h4 class="title">Support</h4>
                                </div>
                                <ul class="link">
                                    {# <li><a class="" href="#">FAQ</a></li> #}
                                    <li><a class="" href="#">Politique de confidentialité</a></li>
                                    <li><a class="" href="#">Conditions d'utilisation</a></li>
                                    {# <li><a class="" href="#">Legal</a></li> #}
                                    {# <li><a class="" href="#">Site Map</a></li> #}
                                </ul>
                            </div> <!-- footer link wrapper -->
                        </div> <!-- footer link -->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-contact mt-45 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.8s">
                            <div class="footer-title">
                                <h4 class="title">Lien rapide</h4>
                            </div>
                            <ul class="contact-list">
                                {# <li>
                                    <div class="contact-info d-flex">
                                        <div class="info-content media-body">
                                            <p class="text"><i class="lni lni-phone"></i> +33 6 61 43 47 99</p>
                                        </div>
                                    </div> <!-- contact info -->
                                </li> #}
                                <li>
                                    <div class="contact-info d-flex">
                                        <div class="info-content media-body">
                                            <p class="text"><a href="mailto:myspace@lazarefortune.com"><i class="lni lni-envelope"></i> myspace@lazarefortune.com</a></p>
                                        </div>
                                    </div> <!-- contact info -->
                                </li>
                                <li>
                                    <div class="contact-info d-flex">
                                        <div class="info-content media-body">
                                            <p class="text"><a href="https://www.lazarefortune.com"><i class="lni lni-world"></i> www.lazarefortune.com</a></p>
                                        </div>
                                    </div> <!-- contact info -->
                                </li>
                                <li>
                                    <div class="contact-info d-flex">
                                        <div class="info-content media-body">
                                            <p class="text"><i class="lni lni-map"></i> 11 avenue auguste rodin 94350 villiers sur marne.</p>
                                        </div>
                                    </div> <!-- contact info -->
                                </li>
                            </ul> <!-- contact list -->
                        </div> <!-- footer contact -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer widget -->
        
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright d-sm-flex justify-content-between">
                            <div class="copyright-text text-center">
                                <p class="text">Template Crafted by <a rel="nofollow" href="https://uideck.com">UIdeck</a></p>
                            </div> <!-- copyright text -->
                            
                            <div class="copyright-privacy text-center">
                                <a href="#">Report Issues</a>
                            </div> <!-- copyright privacy -->
                        </div> <!-- copyright -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer copyright -->
    </footer>
    
    <!--====== PART ENDS ======-->
    
    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->
    
    <!--====== PART START ======-->
    
<!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-"></div> 
            </div>
        </div>
    </section>
-->
    
    <!--====== PART ENDS ======-->
    




    <!--====== Jquery js ======-->
    <script src="{{ asset('assets2/js/vendor/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ asset('assets2/js/vendor/modernizr-3.7.1.min.js') }}"></script>
    
    <!--====== Bootstrap js ======-->
    <script src="{{ asset('assets2/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets2/js/bootstrap.min.js') }}"></script>
    
    
    <!--====== WOW js ======-->
    <script src="{{ asset('assets2/js/wow.min.js') }}"></script>
    
    
    <!--====== Scrolling Nav js ======-->
    <script src="{{ asset('assets2/js/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('assets2/js/scrolling-nav.js') }}"></script>
    
    <!--====== Main js ======-->
    <script src="{{ asset('assets2/js/main.js') }}"></script>
    
</body>

</html>
