<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>
			{% block title %} My Space {% endblock %}
		</title>

		<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet"/>
		{# <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}"> #}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

		<link rel="shortcut icon" href="{{ asset('assets/images/favicons/favicon.ico') }}" type="image/x-icon"/>
		<link rel="apple-touch-icon" href="{{ asset('assets/images/favicons/apple-touch-icon.png') }}"/>
		<link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/images/favicons/apple-touch-icon-57x57.png') }}"/>
		<link rel="apple-touch-icon" sizes="72x72" href="{{ ('assets/images/favicons/apple-touch-icon-72x72.png') }}"/>
		<link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-touch-icon-76x76.png"/>
		<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png"/>
		<link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-touch-icon-120x120.png"/>
		<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png"/>
		<link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-touch-icon-152x152.png"/>
		<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon-180x180.png"/>
		<title>Lazare Fortune</title>
		<!-- icons -->
		<script src="https://kit.fontawesome.com/a49736fb0d.js" crossorigin="anonymous"></script>
		<!-- bootstrap css -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

		<style>
			body{
				font-family: "Fira Sans" !important;
			}
		</style>
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block head_javascripts %}{% endblock %}
	</head>
	<body>
		{% block admin_header %}
			<header
				class="app-header app-header-dark">
				<!-- .top-bar -->
				<div
					class="top-bar">
					<!-- .top-bar-brand -->
					<div
						class="top-bar-brand">
						<!-- toggle aside menu -->
						<button class="hamburger hamburger-squeeze mr-2 menu-toggle" type="button">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</button>
						<!-- /toggle aside menu -->
						<a href="{{ path('home') }}">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="28" viewbox="0 0 351 100"></a>
						</div>
						<!-- /.top-bar-brand -->
						<!-- .top-bar-list -->
						<div
							class="top-bar-list">
							<!-- .top-bar-item -->
							<div
								class="top-bar-item px-2 d-md-none d-lg-none d-xl-none">
								<!-- toggle menu -->
								<button class="hamburger hamburger-squeeze menu-toggle" type="button">
									<span class="hamburger-box">
										<span class="hamburger-inner"></span>
									</span>
								</button>
								<!-- /toggle menu -->
							</div>
							<!-- /.top-bar-item -->
							<div
								class="top-bar-item top-bar-item-right px-0 d-none d-sm-flex">
								<!-- .btn-account -->
								<div class="dropdown d-none d-md-flex">
									<button class="btn-account" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
										<!-- <button class="btn-account" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
										<!-- <span class="user-avatar user-avatar-md">
																		<img src="assets/images/avatars/profile.jpg" alt="">
																		</span> -->
											<span class="account-summary pr-lg-4 d-none d-lg-block"> <span class="account-name">{{ app.user.nom }} {{ app.user.prenom }}</span>
											{% if is_granted('ROLE_SUPER_ADMIN') %}
												<span class="account-description">Super Admin</span>
											{% elseif is_granted('ROLE_ADMIN') %}
												<span class="account-description">Admin</span>
											{% elseif is_granted('ROLE_EVALUATOR') %}
												<span class="account-description">Evaluateur</span>
											{% elseif is_granted('ROLE_ETUDIANT') %}
												<span class="account-description">Etudiant</span>
											{% else %}
												<span class="account-description">Utilisateur</span>
											{% endif %}
										</span>
									</button>
									<!-- .dropdown-menu -->
									<div
										class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
										<!-- <div class="dropdown-menu"> -->
										<div class="dropdown-arrow d-lg-none" x-arrow=""></div>
										<div class="dropdown-arrow ml-3 d-none d-lg-block"></div>
										<a class="dropdown-item" href="{{ path('account') }}">
											<i class="dropdown-icon fas fa-user-cog"></i>
											Profil</a>
										<a class="dropdown-item" href="{{ path('app_logout') }}">
											<span class="dropdown-icon oi oi-account-logout"></span>
											<i class="dropdown-icon fas fa-sign-out-alt"></i>
											Se déconnecter
										</a>
									</div>
									<!-- /.dropdown-menu -->
								</div>
								<!-- /.btn-account -->
							</div>
							<!-- /.top-bar-item -->
						</div>
						<!-- /.top-bar-list -->
					</div>
					<!-- /.top-bar -->
				</header>
			{% endblock %}

			<div class="d-flex" id="wrapper">
				{% block admin_sidebar %}
					<!-- Sidebar -->
					<aside
						class=" app-aside-light " id="sidebar-wrapper">
						<!-- .aside-content -->
						<div
							class="aside-content">
							<!-- .aside-header -->
							<header
								class="aside-header d-block d-md-none">
								<!-- .btn-account -->
								<button
									class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside">
									<!-- <span class="user-avatar user-avatar-lg">
									                        <img src="assets/images/avatars/profile.jpg" alt="">
									                        </span> -->
									<span class="account-icon">
										<span class="fa fa-caret-down fa-lg"></span>
									</span>
									<span class="account-summary">
										<span class="account-name">{{ app.user.username }}</span>										
										{% if is_granted('ROLE_SUPER_ADMIN') %}
												<span class="account-description">Super Admin</span>
										{% elseif is_granted('ROLE_ADMIN') %}
											<span class="account-description">Admin</span>
										{% else %}
											<span class="account-description">Utilisateur</span>
										{% endif %}
									</span>
								</button>
								<!-- /.btn-account -->
								<!-- .dropdown-aside -->
								<div
									id="dropdown-aside" class="dropdown-aside collapse">
									<!-- dropdown-items -->
									<div class="pb-3">
										<a class="dropdown-item" href="{{ path('account') }}">
											<i class="dropdown-icon fas fa-user-cog"></i>
											Profil
										</a>
										<a class="dropdown-item" href="{{ path('app_logout') }}">
											<i class="dropdown-icon fas fa-sign-out-alt"></i>
											Se déconnecter
										</a>
										<!-- <div class="dropdown-divider"></div> -->
									</div>
									<!-- /dropdown-items -->
								</div>
								<!-- /.dropdown-aside -->
							</header>
							<!-- /.aside-header -->
							<div
								class="list-group list-group-flush ">
								<!-- .aside-menu -->
								<div
									class="aside-menu overflow-hidden">
									<!-- .stacked-menu -->
									<nav
										id="stacked-menu" class="stacked-menu">
										<!-- .menu -->
										{% if is_granted('ROLE_ADMIN') %}
										<ul
											class="menu">
											<!-- .menu-item -->
											<li class="menu-item">
												<a href="{{ path('home') }}" class="menu-link {{ app.request.get('_route') == 'home' ? 'active' }}">
													<span class="menu-icon fas fa-home"></span>
													<span class="menu-text">Accueil</span>
												</a>
											</li>

											<!-- .menu Organisation -->
											<li class="menu-header">Test
											</li>

											<li class="menu-item">
												<a href="{{ path('maintenance') }}" class="menu-link">
													<span class="menu-icon fas fa-calendar-day"></span>
													<span class="menu-text">test item</span>
												</a>
											</li>
											<li class="menu-item has-child">
												<a href="#" class="menu-link " data-bs-toggle="collapse" data-bs-target="#edition-collapse" aria-expanded="true">
													<span class="menu-icon fas fa-edit"></span>
													<span class="menu-text dropdown-toggle">Editer test</span>
												</a>
												<!-- child menu -->
												<div class="ml-4 collapse " id="edition-collapse">
													<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
														<li>
															<a href="" class="link-dark text-muted">test</a>
														</li>
														<li>
															<a href="" class="link-dark text-muted">test</a>
														</li>
													</ul>
												</div>
											</li>
															
										</ul>
										<!-- /.menu -->
										{% endif %}
									</nav>
									<!-- /.stacked-menu -->
								</div>
								<!-- /.aside-menu -->
							</div>
						</div>
					</aside>
				{% endblock %}

				<!-- Page Content -->
				<div id="page-content-wrapper" class="mb-4">
					<div class="app-main">
						<div class="container-fluid pt-4">

							<!-- CONTENU DE LA PAGE -->

							{% block site_content %}{% endblock %}

						</div>
						<footer class="app-footer">
						
							<div class="copyright"> Copyright © 2020. Tous droits réservés. </div>
						</footer>
					</div>
					<!-- /#page-content-wrapper -->
				</div>
				<!-- /#wrapper -->

			</div>


				<!-- Theme JavaScript (NE PAS EFFACER) -->
				<!-- <script src="js/theme.min.js"></script> -->

				<!-- Bootstrap JavaScript --><script src="{{ asset('assets/jquery/jquery.min.js') }}"> </script>
				<script src="{{ asset('assets/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
				<!-- Jquery online (NE PAS EFFACER) -->
				<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
				<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
				<!-- Menu Toggle Script -->
				<script>
					$(".menu-toggle").click(function (e) {
					e.preventDefault();
					$("#wrapper").toggleClass("toggled");
					});
				</script>
	
				{% block javascripts %}{% endblock %}
			</body>
		</html>
	</body>
</html>
