<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
		<title>
			My Space - Connexion
		</title>
		{# <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico"/> #}
		<!-- BEGIN GLOBAL MANDATORY STYLES -->
		<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
		<link href=" {{ asset('bootstrap/css/bootstrap.min.css') }} " rel="stylesheet" type="text/css"/>
		<link href=" {{ asset('assets/css/plugins.css') }} " rel="stylesheet" type="text/css"/>
		<link
		href=" {{ asset('assets/css/authentication/form-1.css') }} " rel="stylesheet" type="text/css"/>
		<!-- END GLOBAL MANDATORY STYLES -->
		<link rel="stylesheet" type="text/css" href=" {{ asset('assets/css/forms/theme-checkbox-radio.css') }} ">
		<link rel="stylesheet" type="text/css" href=" {{ asset('assets/css/forms/switches.css') }} ">
        {% block auth_stylesheets %}{% endblock %}
    </head>
	<body class="form">


		{% block auth_content %}{% endblock %}

        {% block auth_javascripts %}{% endblock %}
		<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
		<script src=" {{ asset('assets/js/libs/jquery-3.1.1.min.js') }} "></script>
		<script src=" {{ asset('bootstrap/js/popper.min.js') }} "></script>
		<script src=" {{ asset('bootstrap/js/bootstrap.min.js') }} "></script>

		<!-- END GLOBAL MANDATORY SCRIPTS -->
		<script src=" {{ asset('assets/js/authentication/form-1.js') }} "></script>

	</body>
</html>
