<h3>Nouvelle vue sur la story n° {{ story.id }} </h3>

<p>
Bonjour, <br><br>

Ceci est un message automatique vous signalant que {{ userName }} à vue  l'histoire n°{{ story.id }} le {{ view.date|date("d/m/Y à H:i:s") }} .<br>
Elle est disponible sur l'espace personnel myspace de Lazare Fortune. Vous
pouvez consulter l'histoire via ce lien :
https://myspace.lazarefortune.com/my-space/inspiration/show/{{ story.id }} <br>
Ou en vous connectant au site : https://myspace.lazarefortune.com <br>

<a href="https://myspace.lazarefortune.com/my-space/inspiration/views">Voir les vues</a> <br><br>


Cordialement,<br>
MySpace <br><br>

<span style="color: red;">Ce message est généré automatiquement, merci de ne pas répondre.</span>

</p>