{% extends "layouts/admin.html.twig" %}

{% block stylesheets %}
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
{% endblock %}

{% block admin_content %}

  <div class="row">


    <div class="col-md-8 mx-auto">
      <div class="d-flex justify-content-around">
        <a href="{{ path('story_create') }}" class="btn btn-sm btn-primary shadow mt-2 mb-4">
          Ajouter une story
          <i class="fas fa-plus"></i>
        </a>

        <a href="{{ path('story_show', {storyId: story.id} ) }}" class="btn btn-sm btn-secondary shadow mt-2 mb-4">
          Annuler
          <i class="fas fa-arrow-up"></i>
        </a>

        <a href="{{ path('story_index') }}" class="btn btn-sm btn-secondary shadow mt-2 mb-4">
          Liste des stories
          <i class="fas fa-arrow-right"></i>
        </a>
      </div>

      <article class="card border border-danger shadow mt-4 p-3 mx-auto">
      <h4 class="font-weight-bold text-danger"> <i class="fas fa-edit"></i> Modification de votre histoire </h4>
      {{ form_start(formStory) }}

        <h4 class="font-weight-bold">
          {# {{ story.title }} #}
          {{ form_row(formStory.title) }}
        </h4>
        <p class="mb-0 text-info">
          Ecrit par :
          <span class="font-italic font-weight-bold">
            {{ story.idUser.nom }}
            {{ story.idUser.prenom }}
          </span>
        </p>
        <p class="text-info">
          {{ form_row(formStory.created_at) }}
        </p>

        <p class="mt-4 text-justify">
          
          {{ form_row(formStory.description) }}
        </p>
          <div class="form-group">
          <label for="story_statut"> <i class="fas fa-lock"></i> Confidentialité</label>
          {{ form_widget(formStory.statut) }}
          </div>


      {{ form_end(formStory) }}
      </article>

    </div>


    <div class="col-md-9 mx-auto">

      {# <div class="card  mt-4 p-3">
        <p>Bienvenue
          <b>{{ app.user.nom }}
            {{ app.user.prenom }}</b>
        </p>
        <p>Espace d'inspiration, lachez vous...</p>
      </div>

      <h4>Edition de la story n°{{ story.id }}
      </h4>
      {% include 'layouts/flash-messages.html.twig' %}

      <a href="{{ path('story_create') }}" class="btn btn-primary mt-2 mb-4">
        Ajouter
        <i class="fas fa-arrow-right"></i>
      </a>
      <a href="{{ path('story_index') }}" class="btn btn-secondary mt-2 mb-4">
        Liste
        <i class="fas fa-arrow-right"></i>
      </a> #}


      {# <button type="submit" class="btn btn-success mb-3">Mettre à jour</button>
      {% do formStory.Publier.setRendered %} #}

      {# <div class="form-group">
        <label for="title">
          Titre
        </label>
        <input type="text" value="{{ story.title }}" name="" id="" class="form-control">
      </div>
      <div class="form-group">
        <label for="summernote">Mon inspiration *</label>
        <textarea name="" id="summernote" class="form-control" cols="30" rows="10">{{ story.description }}
        </textarea>
      </div>
      <div class="form-group my-3">
        <label for="publishAt">Date de publication *</label>
        <input type="text" value="(Le {{ story.createdAt|date("d-m-Y") }} à {{ story.createdAt|date("H:i:s") }})" class="form-control" id="publishAt" required="required">
      </div> #}
    </div>

  </div>

{% endblock %}

{% block javascripts %}
    <script>
      $('#story_description').summernote({
        placeholder: 'Ecrivez ce que vous voulez ...',
        tabsize: 2,
        height: 220,
        toolbar: [
          [
            'style', ['style']
          ],
          [
            'font',
            [
              'bold', 'underline', 'clear'
            ]
          ],
          [
            'color', ['color']
          ],
          [
            'para',
            [
              'ul', 'ol', 'paragraph'
            ]
          ],
          [
            'insert', ['link']
          ],
          [
            'view',
            [
              'fullscreen', 'codeview', 'help'
            ]
          ]
        ]
      });
    </script>
  {% endblock %}