{% extends "layouts/admin.html.twig" %}

{% block stylesheets %}
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
{% endblock %}

{% block site_content %}

	<div class="row">
		<div class="col-md-9 mx-auto">

			<h4 class="font-weight-bold">
				<i class="fas fa-globe-europe"></i>
				Les stories publics</h4>

			{% include 'layouts/flash-messages.html.twig' %}

			<a href="{{ path('story_create') }}" class="btn btn-primary shadow mt-2 mb-2">
				<i class="fas fa-plus"></i>
				Ajouter
			</a>

			{% if allStory is empty %}
				<div class="alert alert-info">Il n'y a aucune story public, Vous pouvez être le premier(ère) à en ajouter
				</div>
			{% endif %}

			{% for story in allStory %}
				<div class="card shadow my-3">
					<div class="card-body">
						<span class="h5 font-weight-bold text-primary">
							{{ story.title }}
						</span>
						<p>
							Publié
							<span class="font-italic">
								{% if story.createdAt | date("m/d/Y") == "now" | date("m/d/Y") %}
									Aujourd'hui à
									{{ story.createdAt|date("H:i:s") }}
								{% elseif story.createdAt | date("m/d/Y") == "yesterday" | date("m/d/Y") %}
									Hier à
									{{ story.createdAt|date("H:i:s") }}
								{% else %}
									(Le
									{{ story.createdAt|date("d/m/Y") }}
									à
									{{ story.createdAt|date("H:i:s") }}
									)
								{% endif %}
							</span>
							<br>
							par:
							<span class="font-weight-bold">
								{% if app.user.idUser == story.idUser.idUser %}
									Vous
									{% if story.statut == "public_anonyme" %}
										(En anonyme)
									{% endif %}
								{% else %}
									{% if story.statut == "public_anonyme" %}
										un inconnu
									{% else %}
										{{ story.idUser.nom }}
										{{ story.idUser.prenom }}
									{% endif %}
								{% endif %}
							</span>
							<br>

						</p>
						<a href="{{ path('story_show', {storyId: story.id} ) }}" class="btn btn-primary rounded shadow float-right">Lire la story
							<i class="fas fa-arrow-circle-right ml-2"></i>
						</a>
					</div>
				</div>
			{% endfor %}

			{# <div class="card">
			        <ul class="list-group list-group-flush">
			          {% for story in allStory %}
			            <li class="list-group-item ">
			              <span class="font-weight-bold">
			                {{ story.title }}
			              </span> <br>
			              <span class="ml-4 font-italic">
			
			                {% if story.createdAt | date("m/d/Y") == "now" | date("m/d/Y") %}
			                  Aujourd'hui à
			                  {{ story.createdAt|date("H:i:s") }}
			                {% elseif story.createdAt | date("m/d/Y") == "yesterday" | date("m/d/Y") %}
			                  Hier à
			                  {{ story.createdAt|date("H:i:s") }}
			                {% else %}
			                  (Le
			                  {{ story.createdAt|date("d/m/Y") }}
			                  à
			                  {{ story.createdAt|date("H:i:s") }}
			                  )
			                {% endif %}
			              </span> <br>
			              <span class="ml-2">écrit par
			              << <strong>
			                {% if app.user.idUser == story.idUser.idUser %}
			                  Vous
			                  {% if story.statut == "public_anonyme" %}
			                      (En anonyme)
			                  {% endif %}
			                {% else %}
			                    {% if story.statut == "public_anonyme" %}
			                      un inconnu
			                    {% else %}
			                    {{ story.idUser.nom }}
			                    {{ story.idUser.prenom }}
			                  {% endif %}
			                {% endif %}
			                </strong> >>
			              </span>
			              <a href="{{ path('story_show', {storyId: story.id} ) }}" class="btn btn-sm btn-primary text-unstyled float-right">Lire la story
			                <i class="fas fa-arrow-right"></i>
			              </a>
			            </li>
			          {% endfor %}
			        </ul>
			      </div> #}

		</div>

	</div>

{% endblock %}
