<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="{{ asset('assets/images/favicons/favicon.ico') }}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ asset('assets/images/favicons/apple-touch-icon.png') }}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/images/favicons/apple-touch-icon-57x57.png') }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ ('assets/images/favicons/apple-touch-icon-72x72.png') }}" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon-180x180.png" />
    <title>Lazare Fortune</title>
    <!--
Reflux Template
https://templatemo.com/tm-531-reflux
-->
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/templatemo-style.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/owl.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/lightbox.css') }}" />

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.11.0/devicon.min.css">
</head>

<body>
    <div id="page-wraper">
        <!-- Sidebar Menu -->
        <div class="responsive-nav">
            <i class="fa fa-bars" id="menu-toggle"></i>
            <div id="menu" class="menu">
                <i class="fa fa-times" id="menu-close"></i>
                <div class="container">
                    <div class="image">
                        <a href="#"><img src="{{ asset('assets/images/author-image.jpg') }}" alt="" /></a>
                    </div>
                    <div class="author-content">
                        <h4> &lsaquo;/ Lazare Fortune &rsaquo; </h4>
                        <span>Etudiant</span>
                    </div>
                    <nav class="main-nav" role="navigation">
                        <ul class="main-menu">
                            <li><a href="#section1">A propos</a></li>
                            <li><a href="#section2">Mes compétences</a></li>
                            <li><a href="#section3">Mes travaux</a></li>
                            <li><a href="#section4">Me contacter</a></li>
                        </ul>
                    </nav>
                    <!-- <div class="social-network">
                        <ul class="soial-icons">
                            <li>
                                <a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-rss"></i></a>
                            </li>
                        </ul>
                    </div> -->
                    <div class="copyright-text">
                        <p>Copyright 2021</p>
                    </div>
                </div>
            </div>
        </div>

        <section class="section about-me" data-section="section1">
            <div class="container">
                <div class="section-heading">
                    <h2 class="d-block d-sm-block d-md-none">Lazare Fortune</h2>
                    <h2 class="d-none d-sm-none d-md-block">A propos</h2>
                    <div class="line-dec"></div>
                    <span>Bonjour, bienvenue sur mon portfolio.</span>
                </div>
                <div class="left-image-post">
                    <div class="row">
                        <div class="col-md-6 my-2">
                            <div class="left-text">
                                <h4>Qui suis-je ?</h4>
                                <p>
                                    Je suis un jeune étudiant ayant une expérience en développement web, et passionné de code. ;-)
                                </p>
                                <div class="social-links">
                                    <a href="https://github.com/lazarefortune" target="_blank" class="github"><i class="bx bxl-github bx-lg"></i></a>
                                    <a href="https://www.linkedin.com/in/lazare-fortune/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                                    <a href="https://discord.gg/82MurSmy" target="_blank" class="github"><i class="bx bxl-discord"></i></a>
                                    <a href="https://twitter.com/lazarefortune" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
                                    <!-- <a href="https://facebook.com/lazare.fortune/" target="_blank" class="facebook"><i class="bx bxl-facebook-circle"></i></a> -->
                                    <!-- <a href="https://www.instagram.com/lazare_fortune/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a> -->
                                    <!-- <a href="https://wa.me/33661434799" target="_blank" class="google-plus"><i class="bx bxl-whatsapp"></i></a> -->
                                    <div class="white-button">
                                        <a href="{{ asset('assets/files/CV_Stage_Fortune_KOMBILA.pdf') }}" target="_blank" download="CV_Stage_Fortune_KOMBILA.pdf">
                                          Télécharger mon CV
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 my-2">
                            <div class="right-text">
                                <h4>Mon inspiration</h4>
                                <p>
                                    <i>"Il y a trois réponses possibles à une pièce de design - oui, non et wow ! Wow est la réaction que vous devez rechercher"</i> - Milton Glaser.
                                </p>
                                <!-- <div class="white-button">
                                    <a href="assets/files/CV_Fortune_TOSSOU.pdf" target="_blank" download="CV_Fortune_TOSSOU.pdf">Télécharger mon CV</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </div>
    </section>

    <section class="section my-services" data-section="section2">
        <div class="container">
            <div class="section-heading">
                <h2>Mes compétences</h2>
                <div class="line-dec"></div>
                <span>Ma curiosité et ma motivation m'ont permis de découvrir plusieurs langages et outils, ce qui me rend capable de m'adapter facilement.</span
            >
          </div>
          <div class="row">
            <div class="container">
              <div class="icons-languages">
                <h3 class="text-center text-success">Langages</h3>

                <i class="devicon-html5-plain-wordmark"></i>
                <i class="devicon-css3-plain-wordmark"></i>
                <i class="devicon-javascript-plain"></i>
                <i class="devicon-php-plain"></i>
                <i class="devicon-java-plain-wordmark"></i>
                <i class="devicon-python-plain-wordmark"></i>
                <i class="devicon-c-plain-wordmark"></i>
                <i class="devicon-cplusplus-plain-wordmark"></i>
                <i class="devicon-bash-plain"></i>
                <i class="devicon-ocaml-plain-wordmark"></i>
                
                <h3 class="text-center mt-4 text-primary">Framework et CMS</h3>
                
                <div class="icons-languages">
                  <i class="devicon-laravel-plain-wordmark"></i>
                  <i class="devicon-symfony-original-wordmark"></i>
                  <i class="devicon-vuejs-plain-wordmark"></i>
                  <i class="devicon-angularjs-plain-wordmark"></i>
                  <i class="devicon-bootstrap-plain-wordmark"></i>
                  <i class="devicon-wordpress-plain-wordmark"></i>
                  <i class="devicon-ionic-original-wordmark"></i>
                  <i class="devicon-django-plain"></i>
                </div>
                
                <h3 class="text-warning mt-4">Environnement</h3>
                
                <div>
                  <i class="devicon-linux-plain"></i>
                  <i class="devicon-ubuntu-plain-wordmark"></i>
                  
                  <i class="devicon-firefox-plain-wordmark"></i>
                  
                  <i class="devicon-visualstudio-plain-wordmark"></i>
                  <i class="devicon-atom-original-wordmark"></i>
                  <i class="devicon-git-plain"></i>
                  <i class="devicon-github-original-wordmark"></i>
                 
                  <i class="devicon-trello-plain-wordmark"></i>
                  <!-- <i class="devicon-slack-plain-wordmark"></i> -->
                </div>
                
                <h3 class="text-danger">Autres</h3>

                <i class="devicon-mysql-plain-wordmark"></i>


              </div>
                
              </div>
          </div>        
        </div>
      </section>

      <section class="section my-work" data-section="section3">
        <div class="container">
          <div class="section-heading">
            <h2>Mes travaux</h2>
            <div class="line-dec"></div>
              <span>
                Quelques exemples de site web que j'ai pu concevoir dans le cadre personnel, pour l'entreprise Na'ura Solutions ou encore pour mon projet de startup avec Web Creation.
              </span>
            </div>
            <div class="row">
                <div class="isotope-wrapper">
                    <form class="isotope-toolbar">
                        <label>
                          <input
                            type="radio"
                            data-type="*"
                            checked=""
                            name="isotope-filter"
                          />
                          <span>Tous</span>
                        </label>
                        <label>
                          <input
                          type="radio"
                          data-type="personnel"
                          name="isotope-filter"
                          />
                        <span>Personnel</span>
                        </label>
                        <label><input
                            type="radio"
                            data-type="naura"
                            name="isotope-filter"
                          />
                          <span>Na'ura</span></label
                        >
                        <label
                          ><input
                            type="radio"
                            data-type="web-creation"
                            name="isotope-filter"
                          />
                          <span>Web Creation</span></label
                        >
              </form>
              <div class="isotope-box">
                <div class="isotope-item mt-md-4" data-type="web-creation">
                  <figure class="snip1321">
                    <img
                      src="{{ asset('assets/images/projects/web-creation.png') }}"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="{{ asset('assets/images/projects/web-creation.png') }}"
                        data-lightbox="image-1"
                        data-title="Web creation"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Web Creation</h4>
                      <span>Site web de Web Creation</span>
                      <a href="http://web-creation.space" target="_blank"><button class="btn btn-primary btn-sm">consulter</button></a>
                    </figcaption>
                  </figure>
                </div>
                
                <div class="isotope-item mt-md-4" data-type="web-creation">
                  <figure class="snip1321">
                    <img
                      src="{{ asset('assets/images/projects/web-creation-streaming.png') }}"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="{{ asset('assets/images/projects/web-creation-streaming.png') }}"
                        data-lightbox="image-1"
                        data-title="Web Creation Streaming"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Web Creation Streaming</h4>
                      <span>Service de streaming de web creation</span>
                      <a href="http://streaming.web-creation.space" target="_blank"><button class="btn btn-primary btn-sm">consulter</button></a>
                    </figcaption>
                  </figure>
                </div>
                
                <div class="isotope-item mt-md-4" data-type="web-creation">
                  <figure class="snip1321">
                    <img
                      src="{{ asset('assets/images/projects/web-creation-forum.png') }}"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="{{ asset('assets/images/projects/web-creation-forum.png') }}"
                        data-lightbox="image-1"
                        data-title="Web Creation Forum"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Web Creation Forum</h4>
                      <span>Forum de web creation</span>
                      <a href="http://forum.lazarefortune.com" target="_blank"><button class="btn btn-primary btn-sm">consulter</button></a>
                    </figcaption>
                  </figure>
                </div>
                
                <div class="isotope-item mt-md-4" data-type="web-creation">
                  <figure class="snip1321">
                    <img
                      src="{{ asset('assets/images/projects/web-creation-boutique.png') }}"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="{{ asset('assets/images/projects/web-creation-boutique.png') }}"
                        data-lightbox="image-1"
                        data-title="Web Creation Forum"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Web Creation Boutique</h4>
                      <span>Boutique de web creation</span>
                      <a href="http://boutique.web-creation.space" target="_blank"><button class="btn btn-primary btn-sm">consulter</button></a>
                    </figcaption>
                  </figure>
                </div>
                
                <div class="isotope-item mt-md-4" data-type="personnel">
                  <figure class="snip1321">
                    <img
                      src="assets/images/projects/monsite.png"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="assets/images/projects/monsite.png"
                        data-lightbox="image-1"
                        data-title="Portfolio 1"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Portfolio n°1</h4>
                      <span>Ancien portfolio</span>
                      <a href="http://lazarefortune.com" target="_blank"><button class="btn btn-primary btn-sm">consulter</button></a>
                    </figcaption>
                  </figure>
                </div>
                  
                <div class="isotope-item mt-md-4" data-type="naura">
                  <figure class="snip1321">
                    <img
                      src="{{ asset('assets/images/projects/laissez-passer.png') }}"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="{{ asset('assets/images/projects/laissez-passer.png') }}"
                        data-lightbox="image-1"
                        data-title="Laissez passer - Na'ura Solutions"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Laissez passer</h4>
                      <span>Plateforme de délivrance des attestations de déplacement (Gabon)</span>
                    </figcaption>
                  </figure>
                </div>
                
                <div class="isotope-item mt-md-4" data-type="personnel">
                  <figure class="snip1321">
                    <img
                      src="{{ asset('assets/images/projects/julie-portfolio.png') }}"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="{{ asset('assets/images/projects/julie-portfolio.png') }}"
                        data-lightbox="image-1"
                        data-title="Julie Mvie"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Julie Mvie</h4>
                      <span>Portfolio photographe</span>
                      <a href="http://julie.web-creation.space" target="_blank"><button class="btn btn-primary btn-sm">consulter</button></a>
                    </figcaption>
                  </figure>
                </div>
                
                <div class="isotope-item mt-md-4" data-type="personnel">
                  <figure class="snip1321">
                    <img
                      src="{{ asset('assets/images/projects/portfolio-projet-iut-metz.png') }}"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="{{ asset('assets/images/projects/portfolio-projet-iut-metz.png') }}"
                        data-lightbox="image-1"
                        data-title="Projet web"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Projet web (IUT)</h4>
                      <span>Projet web, création d'un portoflio. (IUT de Metz)</span>
                      <a href="http://portfolio.lazarefortune.com" target="_blank"><button class="btn btn-primary btn-sm">consulter</button></a>
                    </figcaption>
                  </figure>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section my-work" data-section="section4">
        <div class="container">
          <div class="section-heading">
            <h2>Mes Projets</h2>
            <div class="line-dec"></div>
              <span>
                Des projets personnels et scolaires dont je suis particulièrement fier. Vous pouvez les consulter sur github, ou les télécharger.
              </span>
            </div>
            <div class="row">
              <!-- <div class="text-center">
                <h4>Calculatrice en Java</h4>  
              </div> -->
              
              <div class="text-center">
                <h4>Jeu PacMan (en C)</h4> 
                ​<picture class="">
                  <source srcset="" type="image/svg+xml">
                  <img src="{{ asset('assets/images/projects/pacman.PNG') }}" alt="projet_pacman" class="img-fluid img-thumbnail rounded mx-auto d-block" style="height: 200px; width: 300px;">
                </picture>

                <div class="mt-4">
                  <a href="https://github.com/lazarefortune/AS_2021_Projet_Systeme" target="_blank"> <button class="btn btn-success btn-sm">Consulter sur GitHub</button> </a>
                <a href="{{ asset('assets/files/projets/AS_2021_Projet_Systeme-main.zip') }}" download="projet_pacman_lazare_TOSSOU"> <button class="btn btn-primary btn-sm">Télécharger</button> </a>
                </div>
              </div>
            </div>
        </div>
      </section>

      <section class="section contact-me" data-section="section5">
        <div class="container">
          <div class="section-heading">
            <h2>Me contacter</h2>
            <div class="line-dec"></div>
            <span
              >Vous pouvez utiliser ce formulaire pour me contacter ou par email <a href="mailto:lazarefortune@gmail.com">lazarefortune@gmail.com</a> </span
            >
          </div>
          <div class="row">
            <div class="right-content">
              <div class="container">
                <form id="contact" action="" method="post">
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset>
                        <input
                          name="name"
                          type="text"
                          class="form-control"
                          id="name"
                          placeholder="Votre nom..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <input
                          name="email"
                          type="email"
                          class="form-control"
                          id="email"
                          placeholder="Votre adresse email..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input
                          name="subject"
                          type="text"
                          class="form-control"
                          id="subject"
                          placeholder="Objet..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea
                          name="message"
                          rows="6"
                          class="form-control"
                          id="message"
                          placeholder="Votre message..."
                          required=""
                        ></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <label for="file">Vous pouvez joindre des documents</label>
                        <input name="file" type="file" class="form-control" id="file" multiple />
                        </fieldset>
                </div>
                <div class="col-md-12">
                    <fieldset>
                        <button type="submit" id="form-submit" class="button">
                          Envoyer le message
                        </button>
                    </fieldset>
                </div>
            </div>
            </form>
        </div>
        </div>
        </div>
        </div>
    </section>
    </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ asset('assets/js/isotope.min.js') }}"></script>
    <script src="{{ asset('assets/js/owl-carousel.js') }}"></script>
    <script src="{{ asset('assets/js/lightbox.js') }}"></script>
    <script src="{{ asset('assets/js/custom.js') }}"></script>
    <script>
        //according to loftblog tut
        $(".main-menu li:first").addClass("active");

        var showSection = function showSection(section, isAnimate) {
            var direction = section.replace(/#/, ""),
                reqSection = $(".section").filter(
                    '[data-section="' + direction + '"]'
                ),
                reqSectionPos = reqSection.offset().top - 0;

            if (isAnimate) {
                $("body, html").animate({
                        scrollTop: reqSectionPos
                    },
                    800
                );
            } else {
                $("body, html").scrollTop(reqSectionPos);
            }
        };

        var checkSection = function checkSection() {
            $(".section").each(function() {
                var $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
                if (topEdge < wScroll && bottomEdge > wScroll) {
                    var currentId = $this.data("section"),
                        reqLink = $("a").filter("[href*=\\#" + currentId + "]");
                    reqLink
                        .closest("li")
                        .addClass("active")
                        .siblings()
                        .removeClass("active");
                }
            });
        };

        $(".main-menu").on("click", "a", function(e) {
            e.preventDefault();
            showSection($(this).attr("href"), true);
        });

        $(window).scroll(function() {
            checkSection();
        });
    </script>
</body>

</html>
</body>

</html>