{% extends "layouts/site.html.twig" %}

{% block header_home %}
	{# <div id="home" class="header-hero bg_cover d-lg-flex align-items-center">
            
            <div class="shape shape-1"></div>
            <div class="shape shape-2"></div>
            <div class="shape shape-3"></div>
            <div class="shape shape-4"></div>
            <div class="shape shape-5"></div>
            <div class="shape shape-6"></div>
            
            <div class="container">
                <div class="row align-items-center justify-content-center justify-content-lg-between">
                    <div class="col-lg-6 col-md-10">
                        <div class="header-hero-content">
                            <h3 class="header-title wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.2s"><span>My Space</span> est votre espace personnel</h3>
                            <p class="text wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.6s">Sur cet espace nous vous garantissons une expérience convivial et une liberté d'expression sans égal. C'est votre espace, votre contenu, vos données.</p>
                            <ul class="d-flex">
                                <li><a href="https://rebrand.ly/appland-ud" rel="nofollow" class="main-btn wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.8s">Commencer</a></li>
                            </ul>
                        </div> <!-- header hero content -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-10">
                        <div class="header-image">
                            {# <img src="{{ asset('assets2/images/header-app.png') }}" alt="app" class="image wow fadeInRightBig" data-wow-duration="1.3s" data-wow-delay="0.5s">
                            <div class="image-shape wow fadeInRightBig" data-wow-duration="1.3s" data-wow-delay="0.8s">
                                <img src="{{ asset('assets2/images/image-shape.svg') }}" alt="shape">
                            </div> #}
                        </div> <!-- header image -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
            <div class="header-shape-1"></div> <!-- header shape -->
            <div class="header-shape-2">
                <img src="{{ asset('assets2/images/header-shape-2.svg') }}" alt="shape">
            </div> <!-- header shape -->
        </div> <!-- header hero --> #}
{% endblock %}

{% block site_content %}

	<div class="row">
		<div
			class="col-md-9 mx-auto">

			<div class="card shadow my-3 p-3">
				<p>Bienvenue <b>{{ app.user.nom }} {{ app.user.prenom }}</b></p>
			</div>

			

			<!-- /.row -->
			<div class="row">
				<!-- /.col-md-6 -->
				<div class="col-lg-6 my-3">
					<div class="card card-success shadow card-outline">
						<div class="card-header">
							<h5 class="m-0 font-weight-bold">Les histoires du monde</h5>
						</div>
						<div class="card-body">
							<h6 class="card-title">Espace de partage de stories</h6>

							<p class="card-text">Un espace conçu pour partager vos histoires.</p>
							<a href="{{ path('story_index') }}" class="btn btn-success">Consulter</a>
						</div>
					</div>
				</div>
				<!-- /.col-md-6 -->
				<!-- /.col-md-6 -->
				<div class="col-lg-6 my-3">
					<div class="card card-primary shadow card-outline">
						<div class="card-header">
							<h5 class="m-0 font-weight-bold">Lead Projects</h5>
						</div>
						<div class="card-body">
							<h6 class="card-title">Espace pour vos projets</h6>

							<p class="card-text">Un espace conçu pour gérer tous vos projets.</p>
							<span class="text-danger">(Bientôt disponible)</span>
							{# <a href="" class="btn btn-primary">Consulter</a> #}
						</div>
					</div>
				</div>
				<!-- /.col-md-6 -->
			</div>
			<!-- /.row -->
			<div class="row">
                <!-- /.col-md-6 -->
				<div class="col-lg-6 my-3">
					<div class="card card-warning shadow card-outline">
						<div class="card-header">
							<h5 class="m-0">Ecole</h5>
						</div>
						<div class="card-body">
							<h6 class="card-title">Tous vos cours en un seul endroit</h6>

							<p class="card-text">Sur cet espace vous pouvez deposer tous vos cours.</p>
							<a href=" {{ path('school_home') }} " class="btn btn-info">Consulter</a>
						</div>
					</div>
				</div>
				<!-- /.col-md-6 -->
				<!-- /.col-md-6 -->
				<div class="col-lg-6 my-3">
					<div class="card card-primary shadow card-outline">
						<div class="card-header">
							<h5 class="m-0">Espace de stockage public</h5>
						</div>
						<div class="card-body">
							<h6 class="card-title">Espace de 500 Go</h6>

							<p class="card-text">Tous les utilisateurs de My Space peuvent déposer des fichiers.</p>
							<a href="/elfinder" class="btn btn-warning">Consulter</a>
						</div>
					</div>
				</div>
				<!-- /.col-md-6 -->
			</div>
			

		</div>

	</div> 


	<!--====== SERVICES PART START ======-->
{#     
    <section id="why" class="services-area pt-110 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section-title text-center pb-25">
                        <h3 class="title">Pourquoi choisir My Space ?</h3>
                        <p class="text">Alii nusquam cu duo, vim eu consulatu percipitur, meis dolor comprehensam at vis. Vel ut percipitur dignissim signiferumque.</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-services services-color-1 text-center mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.2s">
                        <div class="services-icon d-flex align-items-center justify-content-center">
                            <i class="lni lni-layers"></i>
                        </div>
                        <div class="services-content">
                            <h4 class="services-title"><a href="#">Un design simple</a></h4>
                            <p class="text">Lorem ipsum dolor sitam etco snsetetur sadipscing elitr sed diam nonumy.</p>
                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-services services-color-2 text-center mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.4s">
                        <div class="services-icon d-flex align-items-center justify-content-center">
                            <i class="lni lni-layout"></i>
                        </div>
                        <div class="services-content">
                            <h4 class="services-title"><a href="#">Facile d'utilisation</a></h4>
                            <p class="text">Lorem ipsum dolor sitam etco snsetetur sadipscing elitr sed diam nonumy.</p>
                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-services services-color-3 text-center mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.6s">
                        <div class="services-icon d-flex align-items-center justify-content-center">
                            <i class="lni lni-bolt"></i>
                        </div>
                        <div class="services-content">
                            <h4 class="services-title"><a href="#">Chargement rapide</a></h4>
                            <p class="text">Lorem ipsum dolor sitam etco snsetetur sadipscing elitr sed diam nonumy.</p>
                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-services services-color-4 text-center mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.8s">
                        <div class="services-icon d-flex align-items-center justify-content-center">
                            <i class="lni lni-protection"></i>
                        </div>
                        <div class="services-content">
                            <h4 class="services-title"><a href="#">Tout vos éléments</a></h4>
                            <p class="text">Lorem ipsum dolor sitam etco snsetetur sadipscing elitr sed diam nonumy.</p>
                        </div>
                    </div> <!-- single services -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== SERVICES PART ENDS ======-->
    
    <!--====== ABOUT PART START ======-->
    
    <section id="about" class="about-area pt-70 pb-120">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-image mt-50 wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.5s">
                        <div class="about-shape"></div>
                        <img class="app" src="assets/images/about-app.png" alt="app">
                    </div> <!-- about image -->
                </div>
                <div class="col-lg-6">
                    <div class="about-content mt-50 wow fadeInRightBig" data-wow-duration="1.3s" data-wow-delay="0.5s">
                        <div class="section-title">
                            <h3 class="title">Vous utilisez une version d'essaie de My Space</h3>
                            <p class="text">Notre platforme est en pleine évolution en fonction de vos besoin. Ceci est donc une version d'essaie. N'hésitez pas à nous partager vos impressions, votre avis compte beaucoup pour nous.</p>
                        </div> <!-- section title -->
                        <a href="https://rebrand.ly/appland-ud" rel="nofollow" class="main-btn">Laissez un commentaire</a>
                    </div> <!-- about content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
     #}
    <!--====== ABOUT PART ENDS ======-->
    
    
    <!--====== DOWNLOAD PART START ======-->
    
    {# <section id="download" class="download-area pt-70 pb-40">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 col-md-9">
                    <div class="download-image mt-50 wow fadeInRightBig" data-wow-duration="1.3s" data-wow-delay="0.2s">
                        <img class="image" src="assets/images/download-app.png" alt="download">
                        
                        <div class="download-shape-1"></div>
                        <div class="download-shape-2">
                            <img class="svg" src="assets/images/download-shape.svg" alt="shape">
                        </div>
                    </div> <!-- download image -->
                </div>
                <div class="col-lg-6">
                    <div class="download-content mt-45 wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.5s">
                        <h3 class="download-title">Download and Start Using!</h3>
                        <p class="text">Alii nusquam cu duo, vim eu consulatu percipitur, meis doorcomprehen sam at vis. Vel ut dignissim signiferumq Alii nusquam cuduo, vim eusde consulatu percipitur, meis dolor comprehensam at vij. Alii nusquam cu duo, vim eu consulatu percipitur, meis doorcomprehen sam at vis. Vel ut dignissim signiferumq nusquam.</p>
                        <ul>
                            <li><a class="app-store" href="#"><img src="assets/images/app-store.png" alt="store"></a></li>
                            <li><a class="play-store" href="#"><img src="assets/images/play-store.png" alt="store"></a></li>
                        </ul>
                    </div> <!-- download image -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section> #}
    
    <!--====== DOWNLOAD PART ENDS ======-->

{% endblock %}
