{% extends "layouts/site.html.twig" %}

{% block site_breadcrumb %}
    / <a href=" {{ path('account') }} "> Profil </a>
    / Mot-de-passe
{% endblock %}

{% block site_content %}

    <div class="row ">
        <div class="mx-auto col-md-10">

{#            <nav aria-label="breadcrumb">#}
{#                <ol class="breadcrumb">#}
{#                    <li class="breadcrumb-item"><a href=" {{ path('home') }} "> Accueil </a></li>#}
{#                    <li class="breadcrumb-item"><a href=" {{ path('account') }} "> Profil </a></li>#}
{#                    <li class="breadcrumb-item active" aria-current="page"> Edition</li>#}
{#                    <li class="breadcrumb-item active" aria-current="page"> Mot-de-passe</li>#}
{#                </ol>#}
{#            </nav>#}

            {% include 'layouts/flash-messages.html.twig' %}

            <div class="widget box box-shadow my-4">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>
                                Modifier votre mot de passe
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_start(passwordForm) }}
                            <!-- Mot de passe -->
                            <div class="form-group mb-3">
                                {{ form_label(passwordForm.currentPassword, 'Mot de passe actuel *', {'label_attr': {'class': 'control-label'}}) }}
                                {{ form_widget(passwordForm.currentPassword, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(passwordForm.currentPassword) }}
                                {#                                        {{ form_widget(passwordForm.currentPassword) }} #}
                                {#                                        {{ form_errors(passwordForm.currentPassword) }} #}
                            </div>
                            <div class="form-group mb-3">
                                {{ form_label(passwordForm.newPassword, 'Nouveau mot de passe *', {'label_attr': {'class': 'control-label'}}) }}
                                {{ form_widget(passwordForm.newPassword, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(passwordForm.newPassword) }}
                                {#                                        {{ form_widget(passwordForm.newPassword) }} #}
                                {#                                        {{ form_errors(passwordForm.newPassword) }} #}
                            </div>
                            <div class="form-group mb-3">
                                {{ form_label(passwordForm.newPasswordConfirm, 'Confirmation du mot de passe *', {'label_attr': {'class': 'control-label'}}) }}
                                {{ form_widget(passwordForm.newPasswordConfirm, {'attr': {'class': 'form-control mb-4'}}) }}
                                {{ form_errors(passwordForm.newPasswordConfirm) }}
                                {#                                        {{ form_widget(passwordForm.newPasswordConfirm) }} #}
                                {#                                        {{ form_errors(passwordForm.newPasswordConfirm) }} #}
                            </div>


                            {#                                <div class="form-group"> #}
                            {#                                    <label for="oldPassword">Mot de passe actuel * </label> #}
                            {#                                    <input type="password" class="form-control mr-3" name="oldPassword" id="oldPassword" required> #}
                            {#                                </div> #}
                            {#                                <!-- .form-group --> #}
                            {#                                <div class="form-group"> #}
                            {#                                    <label for="newPassword">Nouveau mot de passe *</label> #}
                            {#                                    <input type="password" class="form-control" name="newPassword" id="newPassword" required> #}
                            {#                                </div> #}
                            {#                                <!-- /.form-group --> #}
                            {#                                #}
                            {#                                <!-- .form-group --> #}
                            {#                                <div class="form-group"> #}
                            {#                                    <label for="newPasswordConfirm">Confirmation du mot de passe *</label> #}
                            {#                                    <input type="password" class="form-control" name="newPasswordConfirm" id="newPasswordConfirm" required> #}
                            {#                                </div> #}
                            {#                                <!-- /.form-group --> #}
                            <!-- .form-actions -->
                            <button type="submit" class="btn btn-danger">
								<i data-feather="check"></i>
								Modifier mon mot de passe
                            </button>
                            {{ form_end(passwordForm) }}
                        </div>
                        <div class="d-none d-md-block col-md-6">
                            <img src=" {{ asset('images/edit_password_2.jpg') }} " alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>







{% endblock %}


{% block javascripts %}
    <script>
        document.getElementById("oldPassword").addEventListener("keyup", function () {
            var nameInput = document.getElementById('oldPassword').value;
            if (nameInput != "") {
                document.getElementById('send').removeAttribute("disabled");
            } else {
                document.getElementById('send').setAttribute("disabled", null);
            }
        });
    </script>
{% endblock %}
