{% extends "layouts/site.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href=" {{ asset('plugins/dropify/dropify.min.css') }} ">
    <link href=" {{ asset('assets/css/users/account-setting.css') }} " rel="stylesheet" type="text/css"/>
{% endblock %}

{% block site_breadcrumb %}
    /
    <a href=" {{ path('account') }} ">
        Profil
    </a>
    / Edition
{% endblock %}

{% block site_content %}


<div class="container">

    <!-- Profil -->
    {{ form_start(formUser) }}
    <div class="row">
        <div class="col-md-10 mx-auto mt-3 mb-5">
            <div class="card rounded rounded-lg border-0 shadow-sm">
                <div class="pt-4 px-5 h5 text-dark">
                    Profil
                </div>
                <div class="card-body px-5">
                    {% include 'layouts/flash-messages.html.twig' %}
                    <div class="form-row mb-5">
                        <div class="col-xl-3 col-12 mx-auto">
                            <div class="upload mt-0 mt-md-4 mt-lg-4 rounded shadow">
                                <input type="file" name="user[profile_picture]" id="input-file-max-fs" class="dropify"
                                       data-default-file="{{ user_profile_picture_directory }}/{{ app.user.profilePicture }}"
                                       data-max-file-size="5M"/>
                                {% do formUser.profile_picture.setRendered %}
                                {# {{ form_widget(formUser.profile_picture, {'attr': { 'class': 'dropify', 'data-default-file' : "#{user_profile_picture_directory}/#{app.user.profilePicture}" , 'id' : 'input-file-max-fs'  } } ) }} #}
                                {# <p class="mt-2">
											<i class="flaticon-cloud-upload mr-1"></i>
											Upload
										</p>
                                #}
                            </div>


                            {% if app.user.profilePicture %}
                                <!-- Button delete modal -->
                                <a href="" class="mt-4 d-flex justify-content-center" data-toggle="modal"
                                   data-target="#deleteProfilePicture">
                                    <span class="">Supprimer</span>
                                </a>
                            {% endif %}


                            <!-- Modal -->
                            <div class="modal fade" id="deleteProfilePicture" tabindex="-1" role="dialog"
                                 aria-labelledby="deleteProfilePictureLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteStoryLabel">Suppression de votre photo de
                                                profil</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                x
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Vous êtes sur le point de supprimer votre photo de profil.
                                                Souhaitez-vous continuer ?
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" data-dismiss="modal">
                                                <i class="flaticon-cancel-12"></i>
                                                Annuler
                                            </button>
                                            <a href="{{ path('account_delete_photo') }}" class="btn btn-outline-danger">
                                                <i data-feather="trash-2"></i>
                                                Oui, continuer
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="form_nom">Nom*
                            </label>
                            {{ form_widget(formUser.nom) }}
                            {{ form_errors(formUser.nom) }}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="form_prenom">Prénom*
                            </label>
                            {{ form_widget(formUser.prenom) }}
                            {{ form_errors(formUser.prenom) }}
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label for="email">Pseudonyme*
                        </label>
                        {{ form_widget(formUser.login) }}
                        {{ form_errors(formUser.login) }}
                    </div>

                    <div class="form-group mb-3">
                        <label for="email">Adresse email*
                        </label>
                        {{ form_widget(formUser.email) }}
                        {{ form_errors(formUser.email) }}
                    </div>

                    <div class="form-group mb-3">
                        <label for="email">Adresse email secondaire
                        </label>
                        {{ form_widget(formUser.secondEmail) }}
                        {{ form_errors(formUser.secondEmail) }}
                    </div>

                    <div class="form-group">
                        <label for="form_nom">Numéro de téléphone
                        </label>
                        {{ form_widget(formUser.phone) }}
                        {{ form_errors(formUser.phone) }}
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(formUser) }}
<div>


{% endblock %}

{% block javascripts %}
    <script src=" {{ asset('assets/js/users/account-settings.js') }} "></script>
    <script src=" {{ asset('plugins/dropify/dropify.min.js') }} "></script>
    <script src=" {{ asset('plugins/blockui/jquery.blockUI.min.js') }} "></script>

{% endblock %}
