{% extends "layouts/site.html.twig" %}

{% block site_content %}

	<div class="row mt-4">
		<div class="col-md-12 mx-auto">
			<div class="card shadow-sm card-body mb-3">
				<div class="text-center">
					<img src=" {{ asset('images/user-group.png') }} " alt="" width="70" class="rounded-circle border border-5 border-primary my-2">
					<h4 class="font-weight-bold">
						{{ app.user.nom }}
						{{ app.user.prenom }}
						{{ app.user.isVerified == 1 ? '<i class="text-info fas fa-check-circle"></i>' : '<i class="text-warning fas fa-exclamation-triangle"></i>' }}
					</h4>
					{% if app.user.isVerified == 0 %}
						<small>
							<i class="text-warning fas fa-exclamation-triangle"></i>
							Vous n'avez pas encore confirmé votre compte
							<br>
							<i class="text-info fas fa-info-circle"></i>
							<a href="">Cliquez ici
							</a>pour confirmer votre compte
						</small>
					{% endif %}

				</div>

			</div>

			<div class="card shadow-sm card-body mb-3">
				<div class="text-left d-flex justify-content-between h5 font-weight-bold text-dark align-items-center">
					<span>
						<i class="fas fa-user"></i>
						Informations personnelles</span>
					<a href=" {{ path('account_edit') }} " class="d-none d-md-block">
						<i class="fas fa-edit text-primary"></i>
					</a>
				</div>
				<div class="ml-4 mt-3">
					<p>
						Adresse mail :
						<b>
							{{ app.user.email }}
						</b>
					</p>
					<p>
						Adresse mail secondaire :
						<b>
							{{ app.user.secondEmail }}
						</b>
					</p>
					<p>
						Contact :
						<b>
							Aucun
						</b>
					</p>
				</div>
			</div>
			<div class="card shadow-sm card-body mb-3">
				<div class="text-left h5 font-weight-bold text-dark align-items-center">
					<i class="fas fa-cog"></i>
					Paramètres de votre compte
				</div>
				<div class="ml-4 mt-3">
					<div class="d-flex justify-content-between align-items-center">
						<span class="h6 font-weight-bold">Notifications :</span>
						{# <a href="" class="btn btn-primary"> Modifier <i class="fas fa-arrow-right"></i></a> #}
					</div>
					<div class="d-flex justify-content-between">
						<span>
							Recevoir un email
						</span>
						<div class="col-lg-3 col-md-3 col-sm-4 col-6">
							<label class="switch s-icons s-outline  s-outline-primary  mb-4 mr-2">
								<input type="checkbox" data-type="notifEmail" data-id="{{ app.user.idUser }}" {{ app.user.notifAccount == 1 ? 'checked' : '' }}>
								<span class="slider round"></span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
{% endblock %}

{% block javascripts %}
	<script>
		document.getElementById("oldPassword").addEventListener("keyup", function () {
var nameInput = document.getElementById('oldPassword').value;
if (nameInput != "") {
document.getElementById('send').removeAttribute("disabled");
} else {
document.getElementById('send').setAttribute("disabled", null);
}
});

document.getElementById("edit-btn").addEventListener("onclick", function () {
let test = document.querySelectorAll('.editable');
test.forEach(item) {
console.log(item);
};

})
function test() {}
	</script>
{% endblock %}
